In [1]:
# Lab | Cleaning numerical data
# For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in 
#files_for_lab folder.

# Context
# An auto insurance company has collected some data about its customers 
#including their demographics, education, employment, policy details, 
#vehicle information on which insurance policy is, and claim amounts. 
#You will help the senior management with some business questions 
#that will help them to better understand their customers, 
#improve their services, and improve profitability.

# Some business Objectives:

# Retain customers,
# Analyze relevant customer data,
# Develop focused customer retention programs.
# Based on the analysis, take targeted actions to increase profitable customer response, retention, and growth.

In [2]:
# Instructions
# 1 Import the necessary libraries.
# 2 Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df
# 3 First look at its main features (head, shape, info).

# 4 Rename the columns so they follow the PE8 (snake case) (lower_case_with_underscores)

# 5 Change effective to date column to datetime format.

# 6 Define a function that differentiates between continuous and discrete variables. 
# Hint: The number of unique values might be useful. 
#Store continuous data into a continuous_df variable and do the same for discrete_df

# 7 Plot a correlation matrix, comment what you see.

# 8 Create a function to plot every discrete variable. Do the same with the continuous variables 
#(Be Careful, you may need to change the plot type to one better suited for continuous data!)

# 9 Comment what you can see in the plots.

# 10 Look for outliers in the continuous variables. (HINT: There’s a good plot to do that!)

# 11 Did you find outliers? Comment what you will do with them.

# 12 Check all columns for NaN values. Decide what (if anything) you will need to do with them.

In [3]:
# pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

# Base libraries
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import BASE_COLORS
%matplotlib inline

# sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor

In [4]:
# 1 Import the necessary libraries.
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [5]:
# 2 Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df
data = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')
display(data.shape)
data.head()

(9134, 24)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [6]:
# 3 First look at its main features (head, shape, info).
data.shape

(9134, 24)

In [7]:
# 3 First look at its main features (head, shape, info).
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [9]:
# 4 Rename the columns so they follow the PE8 (snake case) (lower_case_with_underscores)
# 4 Rename the columns so they follow the PE8 (snake case) (lower_case_with_underscores)
# 5 Change effective to date column to datetime format.
# 6 Define a function that differentiates between continuous and discrete variables. 
# Hint: The number of unique values might be useful. 
#Store continuous data into a continuous_df variable and do the same for discrete_df
# 7 Plot a correlation matrix, comment what you see.
# 8 Create a function to plot every discrete variable. Do the same with the continuous variables 
#(Be Careful, you may need to change the plot type to one better suited for continuous data!)
# 9 Comment what you can see in the plots.
# 10 Look for outliers in the continuous variables. (HINT: There’s a good plot to do that!)
# 11 Did you find outliers? Comment what you will do with them.
# 12 Check all columns for NaN values. Decide what (if anything) you will need to do with them.

In [10]:
# data.columns = [col.lower() for col in data.columns]
# display(data.shape)
# data.head()

In [11]:
# 4 Rename the columns so they follow the PE8 (snake case) (lower_case_with_underscores)
# This code takes the columns of a pandas dataframe (data) and converts each column name 
#to lowercase and replaces any spaces with underscores, 
#then updates the dataframe's columns with these new names. 
#The final line returns the list of updated column names.

n_cols = []
for i in range(len(data.columns)):
    n_cols.append(data.columns[i].lower().replace(' ', '_'))
data.columns = n_cols
n_cols

['customer',
 'state',
 'customer_lifetime_value',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'income',
 'location_code',
 'marital_status',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'total_claim_amount',
 'vehicle_class',
 'vehicle_size']

In [ ]:
# data.rename(inplace=True, columns={'sales channel': 'sales_channel', 'total claim amount': 'total_claim_amount','vehicle class': 'vehicle_class','vehicle size': 'vehicle_size', 'employmentstatus':'employment_status','policy type':'policy_type','renew offer type':'renew_offer_type'})
# print(data)

In [ ]:
# data.columns

In [ ]:
# data.rename(inplace=True, columns={'location code': 'location_code', 'marital status': 'marital_status','monthly premium auto': 'monthly_premium_auto','months since last claim': 'months_since_last_claim'})
# print(data)

In [ ]:
# data.columns

In [ ]:
# 5 Change effective to date column to datetime format.

In [ ]:
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

In [ ]:
display(data.shape)
data

In [ ]:
# 6 Define a function that differentiates between 
#continuous and discrete variables. 
# Hint: The number of unique values might be useful. 
#Store continuous data into a continuous_df 
#variable and do the same for discrete_df
categorical = data.select_dtypes(include=object)
numerical = data.select_dtypes(include=np.number)
display(numerical.nunique())
numerical.info()

In [ ]:
# Discrete variables represent counts (e.g., the number of objects in a collection).
# Continuous variables represent measurable amounts (e.g., water volume or weight).

In [ ]:
# discrete_var = []
# continuous_var = []
# for col in numerical.columns:
#     if len(numerical[col].unique()) < 200:
#         discrete_var.append(col)
#     else:
#         continuous_var.append(col)
# display(discrete_var)
# display(continuous_var)

In [ ]:
# break into numericl and categorical, begin with numerical data

In [ ]:
discrete_lst = []
continuous_lst = []
for col in numerical.columns:
    if len(data[col].unique()) < (data.shape[0] * 0.02):
        discrete_lst.append(col)
    else:
        continuous_lst.append(col)
display(discrete_lst)
display(continuous_lst)

In [ ]:
# Create a function to differentiate between discrete and continuous variables

In [ ]:
def discrete_continuous(df):
    discrete_lst = []
    continuous_lst = []
    for col in df.columns:
        if len(df[col].unique()) < (df.shape[0] * 0.02):
            discrete_lst.append(col)
        else:
            continuous_lst.append(col)
    return (discrete_lst, continuous_lst)

In [ ]:
discrete_lst, continuous_lst = discrete_continuous(numerical)

In [ ]:
print(discrete_lst)
print(continuous_lst)

In [ ]:
# 7 Plot a correlation matrix, comment what you see.
corr_matrix=data.corr()
fig, ax = plt.subplots(figsize=(10,8))
ax = sns.heatmap(corr_matrix, annot=True)
plt.show()

In [ ]:
# Plot a correlation matrix
correlations = data.corr()
correlations

In [ ]:
# 8 Create a function to plot every discrete variable. Do the same with the continuous variables 
#(Be Careful, you may need to change the plot type to one better suited for continuous data!)

In [ ]:
# def is_continous(dataframe, total_rows):
#     if dataframe.dtype == float or dataframe.dtype == datetime.datetime
#         return True
#     if dataframe.dtype == int and ({dataframe.nunique{} / total_rows} * 100 >3):
#         return True
#     return False


# continous_variables = []
# discrete_variables = []

# for col_name in customer_df.columns:
#     if is_continous(customer_df[col_name], len(customer_df[col_name])) == True:
#         continous_variables.append[col_name]
#     else:
#         discrete_variables.append(col_name) = []
        
        
# print(continous_variables)
# print('----------------')        
# print(discrete_variables)

In [ ]:
# Plots for variable types

for column in numerical[discrete_lst]:
    sns.distplot(numerical[column])
    plt.show()

In [ ]:
for column in numerical[continuous_lst]:
    sns.histplot(numerical[column])
    plt.show()

In [ ]:
# OUTLIERS in continuous variables
# 9 Comment what you can see in the plots.
# 10 Look for outliers in the continuous variables. (HINT: There’s a good plot to do that!)
# 11 Did you find outliers? Comment what you will do with them.

In [ ]:
for column in numerical[continuous_lst]:
    sns.boxplot(numerical[column])
    plt.show()

In [ ]:
def detect_outlier(column):
    # find q1 and q3 values
    q1, q3 = np.percentile(sorted(column), [25, 75])
 
    # compute IQR
    iqr = q3 - q1
 
    # find lower and upper bounds
    lower_bound = q1 - (1.5 * iqr)
    upper_bound = q3 + (1.5 * iqr)
 
    outliers = [x for x in column if x <= lower_bound or x >= upper_bound]
 
    return outliers

In [ ]:

# input data
tca_outliers = detect_outlier(numerical['total_claim_amount'])
mpa_outliers = detect_outlier(numerical['monthly_premium_auto'])

In [ ]:
len(mpa_outliers)

In [ ]:

# 12 Check all columns for NaN values. Decide what (if anything) you will need to do with them.

In [ ]:
numerical.isna().sum()

In [ ]:
numerical.isna().sum()

In [ ]:
# Looking at Categorical features

In [ ]:
categorical

In [ ]:
# customer has all unique values, dropping before I plot
categorical= categorical.drop(['customer'], axis = 1)

In [ ]:
def cntplot_cat(df):
    for column in df.columns:
        sns.countplot(x=df[column])
        plt.show()
    return None
   

cntplot_cat(categorical)

In [ ]:
# # Insights into categorical data
# column	decision
# state	only 5 - leave as is
# response	imbalanced make 1,0
# coverage	ordinal encode
# education	combine master & dr.
# employment status	smallest 3 into other
# gender	1hot encode
# location	ordinal encode as is
# marital	1hot encode as is
# policy type	1hot encode
# policy	drop column
# renew offer	encode as is
# sales channel	1hot encode as is
# vehicle class	1hot combine luxury/sports
# vehicle size	ordinal encode

In [ ]:
# Discrete variables

In [ ]:
categorical_columns = [col for col in categorical if (len(categorical[col].unique()) < (categorical.shape[0] * 0.01))]

In [ ]:
len(categorical_columns)

In [ ]:
#categorical.loc[categorical["education"].isin(['Master','Doctor'])] = "Post-Uni"
need = categorical["education"].value_counts().index[:3]
categorical["education"] = np.where(categorical["education"].isin(need), categorical["education"], 'Post-Uni')
categorical["education"].value_counts(dropna=False)

In [ ]:
need = categorical["vehicle_class"].value_counts().index[:3]
categorical["vehicle_class"] = np.where(categorical["vehicle_class"].isin(need), categorical["vehicle_class"], 'Luxury')
categorical["vehicle_class"].value_counts(dropna=False)

In [ ]:
categorical

In [ ]:
categorical["policy_type"].value_counts(dropna=False)

In [ ]:
categorical["policy"].value_counts(dropna=False)

In [ ]:
categorical = categorical.drop(['policy'], axis = 1)
categorical

In [ ]:
# Saving the categorical at this point before encoding
categorical.to_csv('categorical_b4_encoding.csv', index=False)

In [ ]:

# Concatenating numerical and categorical

In [ ]:
X = pd.concat([numerical,categorical], axis=1)
X

In [ ]:
# Train/test/split data
# Splitting / Scaling / 1Hot encoding X_train and X_test

In [ ]:
y=X['total_claim_amount']
X=X.drop('total_claim_amount', axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=13)
print('X_train shape is:',X_train.shape)
print('y_train shape is:', y_train.shape)
print('X_test shape is:', X_test.shape)
print('y_test shape is:', y_test.shape)

In [ ]:
# Insights into categorical data
# column	decision
# state	only 5 - leave as is
# response	imbalanced make 1,0
# coverage	ordinal encode
# education	combine master & dr.
# employment status	smallest 3 into other
# gender	1hot encode
# location	ordinal encode as is
# marital	1hot encode as is
# policy type	1hot encode
# policy	drop column
# renew offer	encode as is
# sales channel	1hot encode as is
# vehicle class	1hot combine luxury/sports
# vehicle size	ordinal encode

In [ ]:
# Dummy code for ordinal encoding
# data["coverage"] = data["coverage"].map({"Basic" : 0, "Extended" : 1, "Premium" : 2})

In [ ]:
X_train["coverage"] = X_train["coverage"].map({"Basic" : 0, "Extended" :.5, "Premium" : 1})

In [ ]:
X_test["coverage"] = X_test["coverage"].map({"Basic" : 0, "Extended" :.5, "Premium" : 1})

In [ ]:
X_train['employmentstatus'].unique()

In [ ]:
X_train["employmentstatus"] = X_train["employmentstatus"].map({"Medical Leave" : 0, "Disabled" : 0, "Unemployed" : 0, "Retired" : .5, "Employed":1})

In [ ]:
X_test["employmentstatus"] = X_test["employmentstatus"].map({"Medical Leave" : 0, "Disabled" : 0, "Unemployed" : 0, "Retired" : .5, "Employed":1})

In [ ]:
X_train['location_code'].unique()

In [ ]:
X_train["location_code"] =X_train["location_code"].map({"Rural" : 0, "Suburban" :.5, "Urban" : 1,})

In [ ]:
X_test["location_code"] =X_test["location_code"].map({"Rural" : 0, "Suburban" :.5, "Urban" : 1,})

In [ ]:
X_train['vehicle_size'].unique()

In [ ]:
X_train["vehicle_size"] =X_train["vehicle_size"].map({"Small" : 0, "Medsize" :.5, "Large" : 1,})

In [ ]:
X_test["vehicle_size"] =X_test["vehicle_size"].map({"Small" : 0, "Medsize" :.5, "Large" : 1,})

In [ ]:
X_train["education"].value_counts(dropna=False)

In [ ]:
X_train["education"] = X_train["education"].map({"High School or Below" : 0, "College" :.33, "Bachelor" : .66,"Post-Uni" : 1})

In [ ]:
X_test["education"] = X_test["education"].map({"High School or Below" : 0, "College" :.33, "Bachelor" : .66,"Post-Uni" : 1})

In [ ]:
X_train["vehicle_class"].value_counts(dropna=False)

In [ ]:
X_train_1_hot_col = X_train[['state','response','gender','marital_status','policy_type','renew_offer_type','sales_channel','vehicle_class']]
X_train_1_hot_col

In [ ]:
X_test_1_hot_col = X_test[['state','response','gender','marital_status','policy_type','renew_offer_type','sales_channel','vehicle_class']]
X_test_1_hot_col

In [ ]:
# OneHotEncode the remaining categorical columns

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(X_train_1_hot_col)

cols = encoder.get_feature_names(input_features = X_train_1_hot_col.columns)

X_train_col_encoded = pd.DataFrame(encoder.transform(X_train_1_hot_col).toarray(),columns=cols)

X_train_col_encoded

In [ ]:
cols1 = encoder.get_feature_names(input_features = X_test_1_hot_col.columns)

X_test_col_encoded = pd.DataFrame(encoder.transform( X_test_1_hot_col).toarray(),columns=cols1)

X_test_col_encoded

In [ ]:
X_train = X_train.drop(['state','response','education','gender','marital_status','policy_type','renew_offer_type','sales_channel','vehicle_class'],axis = 1)
X_train=X_train.reset_index()
X_train

In [ ]:
X_test = X_test.drop(['state','response','education','gender','marital_status','policy_type','renew_offer_type','sales_channel','vehicle_class'],axis = 1)
X_test = X_test.reset_index()
X_test

In [ ]:
X_train = X_train.drop('index', axis=1)
X_test = X_test.drop('index',axis=1)

In [ ]:
X_train_encoded= pd.concat([X_train,X_train_col_encoded],axis=1)
X_train_encoded= X_train_encoded.reset_index()
X_train_encoded= X_train_encoded.drop('index',axis=1)

In [ ]:
X_test_encoded= pd.concat([X_test,X_test_col_encoded],axis=1)
X_test_encoded= X_test_encoded.reset_index()
X_test_encoded= X_test_encoded.drop('index',axis=1)
X_test_encoded

In [ ]:
# Standardize needed columns

In [ ]:
X_train.dtypes

In [ ]:
X_train_to_scale = X_train[['customer_lifetime_value','income','monthly_premium_auto','months_since_last_claim','months_since_policy_inception','number_of_open_complaints','number_of_policies']]
X_train_to_scale
X_test_to_scale = X_test[['customer_lifetime_value','income','monthly_premium_auto','months_since_last_claim','months_since_policy_inception','number_of_open_complaints','number_of_policies']]
X_test_to_scale

In [ ]:
# Initialize and fit the scaler

In [ ]:
transformer = MinMaxScaler().fit(X_train_to_scale)

In [ ]:
X_norm1 = transformer.transform(X_train_to_scale)
X_train_scaled = pd.DataFrame(X_norm1, columns=X_train_to_scale.columns)
X_train_scaled = X_train_scaled.reset_index()

In [ ]:
X_norm2 = transformer.transform(X_test_to_scale)
X_test_scaled = pd.DataFrame(X_norm2, columns=X_test_to_scale.columns)
X_test_scaled= X_test_scaled.reset_index()

In [ ]:
X_train = X_train.drop(['customer_lifetime_value','income','monthly_premium_auto','months_since_last_claim','months_since_policy_inception','number_of_open_complaints','number_of_policies'],axis = 1)
X_test = X_test.drop(['customer_lifetime_value','income','monthly_premium_auto','months_since_last_claim','months_since_policy_inception','number_of_open_complaints','number_of_policies'], axis = 1)

In [ ]:
X_train_s_e = pd.concat([X_train, X_train_scaled],axis = 1)
X_test_s_e = pd.concat([X_test, X_test_scaled], axis = 1)

In [ ]:
X_train_s_e.isna().sum()

In [ ]:
# Models

In [ ]:
# Define function to run all models
def models_automation(models, X_tr, y_tr,X_te, y_te):
    for model in models:
        model.fit(X_tr, y_tr)
        print(f"{model.__class__.__name__}: Train -> {model.score(X_tr, y_tr)}, Test -> {model.score(X_te, y_te)}")

In [ ]:
model_list = [LinearRegression(),SGDRegressor(),KNeighborsRegressor(), MLPRegressor(),DecisionTreeRegressor(),RandomForestRegressor()]
models_automation(model_list, X_train_s_e, y_train, X_test_s_e, y_test)

In [ ]:
# Output should be:
# LinearRegression: Train -> 0.5908006353951994, Test -> 0.6030595738295939
# SGDRegressor: Train -> -1.5263448751673026e+26, Test -> -9.255359612458309e+24
# KNeighborsRegressor: Train -> 0.19926663210474438, Test -> -0.166368830741221
# MLPRegressor: Train -> 0.4415115779517472, Test -> 0.4783591303835689
# DecisionTreeRegressor: Train -> 1.0, Test -> 0.6583004946305966
# RandomForestRegressor: Train -> 0.9736229362776976, Test -> 0.816033071998738

In [ ]:
# Begin Lab 4.3
# Instructions
# Open the categoricals variable we created before.
# categoricals = data.select_dtypes(np.object)
# categoricals.head()
# Plot all the categorical variables with the proper plot. What can you see?
# There might be some columns that seem to be redundant, check their values to be sure. What should we do with them?
# Plot time variable. Can you extract something from it?

In [ ]:
cat = pd.read_csv('categorical_b4_encoding.csv')
cat

In [ ]:
cntplot_cat(cat)

In [ ]:
def dis_cat(df):
    for column in df.columns:
        sns.displot(x=df[column])
        plt.show()
    return None

In [ ]:
dis_cat(cat)

In [ ]:
# Checking the date column

In [ ]:
data['effective_to_date']

In [ ]:
sns.set(rc={'figure.figsize':(15,8)})
sns.lineplot(x="effective_to_date", y="total_claim_amount", data = data)

In [ ]:
# Can't see clear pattern. Let's create a df of just time features.

In [ ]:
time_data = pd.DataFrame()
time_data["day"] = data["effective_to_date"].dt.day
time_data["week"] = data["effective_to_date"].dt.week
time_data["month"] = data["effective_to_date"].dt.month
time_data["target"] = data["total_claim_amount"]
time_data

In [ ]:
sns.lineplot(x = time_data.day, y=time_data.target, hue = time_data.month, palette="Set1");

In [ ]:
# Still not clear, check weeks
sns.lineplot(x = time_data.week, y = time_data.target);

In [ ]:
# Error here.  This graph looks wonky. Check values.
time_data.week.value_counts()

In [ ]:
# why the jump to 52?  Very out of sequence.  Check dates of week 52.
data.effective_to_date.loc[data.effective_to_date.dt.week[data.effective_to_date.dt.week == 52].index]

In [ ]:
# Looks like first week, check dates of week1 to see if sequential
data.effective_to_date.loc[data.effective_to_date.dt.week[data.effective_to_date.dt.week == 1].in

In [ ]:
# Yes it is, change 52 to 0
time_df.week = time_df.week.apply(lambda x: 0 if x == 52 else x)

In [ ]:

# plot again
sns.lineplot(x = time_df.week, y = time_df.target)

In [ ]:
# Base libraries
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import BASE_COLORS

%matplotlib inline

#warnings
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

In [ ]:
# customer_df = pd.read_csv("data/we_fn_use_c_marketing_customer_value_analysis.csv")
# 2 Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')
display(customer_df.shape)
customer_df.head()

In [ ]:
customer_df.head(5)

In [ ]:
customer_df.shape

In [ ]:

customer_df.info()

In [ ]:
new_cols = [col.replace(" ", "_").lower() for col in customer_df]
customer_df.columns = new_cols

In [ ]:
# date column to datetime format
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])

In [ ]:
#Check NaNs Total
customer_df.isna().sum()

In [ ]:

# Check NaNs (Percentage)
customer_df.isna().sum()/len(customer_df)

In [ ]:
customer_df.describe()

In [ ]:

# Income variable first quartil == min. Too many zeros. 
customer_df['income'].value_counts()
#Length: n. of unique values

In [ ]:

#replace zeros with median
median_income=customer_df['income'].median(skipna=True)
customer_df['income']=customer_df.income.mask(customer_df.income==0,median_income)

In [ ]:

customer_df['income'].value_counts()

In [ ]:

numericals = customer_df.select_dtypes(np.number)
numericals.head()

In [ ]:
#the discrete variables will be likely the ones with less unique values
numericals.nunique()

In [ ]:

discrete = [i for i in numericals if (len(numericals[i].unique()) < (numericals.shape[0] * 0.01))]

In [ ]:

discrete

In [ ]:

continuous = list(numericals.drop(columns = discrete).columns)

In [ ]:

continuous

In [ ]:
# 1.Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv
# 2.Find all of the categorical data. Save it in a categorical_df variable.
# 3.Check for NaN values.
# 4.Check all unique values of columns.
# 5.Check dtypes. Do they all make sense as categorical data?
# 6.Does any column contain alpha and numeric data? Decide how to clean it.
# 7.Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.
# 8.Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?
# 9.Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

In [ ]:

customer_df.head()

In [ ]:
# 2.Find all of the categorical data. Save it in a categorical_df variable.
# 3.Check for NaN values.
# 4.Check all unique values of columns.
# 5.Check dtypes. Do they all make sense as categorical data?
# 6.Does any column contain alpha and numeric data? Decide how to clean it.
# 7.Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.
# 8.Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?
# 9.Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

In [ ]:
categorical = customer_df.select_dtypes(object)

In [ ]:

categorical.nunique()

In [ ]:

categorical_columns = [i for i in categorical if (len(categorical[i].unique()) < (numericals.shape[0] * 0.01))]

In [ ]:
#no customer_id anymore
categorical_columns

In [ ]:

categorical_df=customer_df[categorical_columns]

In [ ]:
categorical_df

In [ ]:
continuous_df = numericals.drop(columns = discrete)

In [ ]:

continuous_df.head()

In [ ]:


discrete_df = numericals[discrete]

In [ ]:

discrete_df

In [ ]:

mask = np.zeros_like(numericals.corr())
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax = plt.subplots(figsize=(16, 10))
    ax = sns.heatmap(numericals.corr(), mask=mask,
                     square=True, linewidths=1, cmap="coolwarm",
                     vmax = 0.8, vmin = -0.8)

In [ ]:
# Discrete

In [ ]:

#  barplots from discrete data

def df_bar(df):
    sns.set(rc={'figure.figsize':(16,8)})
    for i, col in enumerate(df):
        plt.figure(i)
        sns.barplot(x = df[col].value_counts().index, y = df[col].value_counts())
        
    plt.show()

In [ ]:

df_bar(discrete_df)

In [ ]:
def df_hist(df):
    sns.set(rc={'figure.figsize':(16,8)})
    for i, col in enumerate(df):
        plt.figure(i)
        sns.distplot(df[col], color = list(BASE_COLORS.keys())[i])
        
    plt.show()

In [ ]:

df_hist(continuous_df)

In [ ]:

sns.distplot(continuous_df["customer_lifetime_value"], bins = 100);

In [ ]:

continuous_df["customer_lifetime_value"].value_counts()

In [ ]:

sns.distplot(continuous_df["total_claim_amount"], bins = 100, color = list(BASE_COLORS.keys())[4]);

In [ ]:
continuous_df["total_claim_amount"].value_counts()

In [ ]:
# Distribution is ok,  no nans were replaced.

# 6. Look for outliers in the continuous variables we have found. Hint: There is a good plot to do that.

In [ ]:

continuous[:3]

In [ ]:

box_colors = ["blue", "yellow", "red"]

f, ax = plt.subplots(1, 3, figsize=(16,8))


for i, col in enumerate(continuous[:3]):
    sns.boxplot(data = continuous_df[col], ax = ax[i], color = box_colors[i])
    ax[i].set_title(col, fontsize = 14)
plt.show();

In [ ]:
#  outliers in customer lifetime vaulue + monthly_premium_auto

In [ ]:
# Lab | Cleaning categorical data
# For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in files_for_lab folder. In this lab we will explore categorical data.

# Instructions
# 1.Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

# 2.Find all of the categorical data. Save it in a categorical_df variable.

# 3.Check for NaN values.

# 4.Check all unique values of columns.

# 5.Check dtypes. Do they all make sense as categorical data?

# 6.Does any column contain alpha and numeric data? Decide how to clean it.

# 7.Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

# 8.Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

# 9.Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.